$main-color = #5e81ac
$window-color = #eceff4
$window-color-darktheme = #2e3440
$top-navigation-color = #eceff4
$top-navigation-color-darktheme = #3b4252
$text-color = #2e3440
$text-color-darktheme = #eceff4
$inactive-link-color = #5e81ac
$inactive-link-color-darktheme = #e5e9f0
$line-color = #e5e9f0
$active-tab-background-color = rgba(46, 52, 64, 0.06)
$focused-tab-background-color = rgba(46, 52, 64, 0.03)
$active-tab-background-color-darktheme = rgba(236, 239, 244, 0.06)
$focused-tab-background-color-darktheme = rgba(236, 239, 244, 0.03)
$message-info-border-color = #81a1c1
$message-info-background-color = #88c0d0
$message-error-border-color = #bf616a
$message-error-background-color = #bf616a
$message-success-border-color = #a3be8c
$message-success-background-color = #a3be8c
$input-bad-border-color = #bf616a
$input-bad-background-color = #eceff4
$input-good-border-color = #a3be8c
$input-good-background-color = #eceff4
$input-enabled-background-color = #eceff4
$input-enabled-border-color = #d8dee9
$input-enabled-text-color = $text-color
$input-enabled-text-color-darktheme = $text-color-darktheme
$input-disabled-background-color = #eceff4
$input-disabled-border-color = #d8dee9
$input-disabled-text-color = #5e81ac
$button-enabled-text-color = #eceff4
$button-enabled-background-color = $main-color
$button-disabled-text-color = #3b4252
$button-disabled-background-color = #d8dee9
$post-thumbnail-border-color = $main-color
$post-thumbnail-no-tags-border-color = #bf616a
$default-tag-category-background-color = $active-tab-background-color
$new-tag-background-color = #a3be8c
$new-tag-text-color = #2e3440
$implied-tag-background-color = #ebcb8b
$implied-tag-text-color = #2e3440
$tag-suggestions-header-color = #d8dee9
$tag-suggestions-border-color = #3b4252
$duplicate-tag-background-color = #d08770
$duplicate-tag-text-color = #2e3440
$active-note-overlay-background-color = rgba(255, 255, 255, 0.3)
$active-note-overlay-border-color = rgba(62, 255, 62, 0.8)
$note-background-color = rgba(255, 255, 205, 0.3)
$note-border-color = rgba(0, 0, 0, 0.2)
$edited-note-background-color = rgba(222, 255, 222, 0.3)
$edited-note-border-color = rgba(0, 200, 0, 0.9)
$note-text-background-color = #ebcb8b
$note-text-border-color = #2e3440
$note-text-text-color = #2e3440
$first-note-point-color = #b48ead
$hovered-note-point-color = #bf616a
$hovered-first-note-point-color = #bf616a
$safety-safe = #a3be8c
$safety-sketchy = #ebcb8b
$safety-unsafe = #bf616a
$scrollbar-thumb-color = $main-color
$scrollbar-bg-color = $input-enabled-background-color
$transparency-grid-square-color = #e5e9f0
